/** @format */

.homePage {
    flex-direction: column !important;
    flex: column;
    text-align: center;
    position: relative;
    min-height: 100%;
    padding-bottom: 64px;
    .header {
        padding-left: 360px;
        padding-right: 184px;
        position: relative;
        text-align: left;
        overflow: hidden;
         @media (max-width: 768px) {
           padding:0;
        }
    }

    .download {
        position: absolute;
        right: 10px;
        top: 0px;
        cursor: pointer;
        z-index: 1;
        @media (max-width: 768px) {
            display: none;
        }
        >button{
            margin-left: 10px;
        }
        a {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
        }
    }
   
}

.downicon{
    margin-right: 10px;
}
.logo,.logo2 {
    width: 151px;
    margin: 5px 0;

    img {
        width: 100%;
    }
}

:global {
    body {
        overflow-y: scroll;
    }

    #root {
        background: #f0f2f5;
    }

    .divider {
        .ant-divider-inner-text {
            font-weight: 400;
            font-size: 12px;
            color: #ccc;
        }
    }

    .logoBox {
        position: absolute;
        right: 0;
        left: 0;
        padding: 0 50px;
        padding-right: 184px;

        .ant-btn {
            font-size: 26px;
            color: #fff;
            position: absolute;
            left: 0;
            top: 0;
            margin: 13px;
            display: none;
        }
       
    }
     .bodyContainer {
        // padding: 0 50px;
        // margin-top: 20px;
        text-align: center;
        position: relative;
        min-height: 100%;
    }

    .HomeDrawer {
        .ant-drawer-body {
            padding: 0;
        }

        .ant-drawer-wrapper-body {
            background: #00152a;
        }
    }

    .searchBar{
        padding: 20px 0;
        background: #fff;
    }

    .homeFooter{
        font-size: 12px; 
        text-align: center;
        background: #001529;
        color: #e4e4e4;
        height: 40px;
        padding: 0; 
        line-height: 40px;
        position: absolute;
        width: 100%;
        bottom: 0;
    }

     .xsAvatar{
        position: absolute;
        right: 0;
        display: none;
        margin: 13px;
        top: 0;
        
    }
    @media (max-width: 768px) {
        .logoBox {
            text-align: center;
            padding:0 40px;

            .ant-btn {
                display: block;
            }
            :nth-child(2){
                display: none;
            }
        }
        .xsAvatar{
            display: block;
        }

        #root {
            .bodyContainer {
                padding: 0;
            }
        }
    }
}